- const investigativeAbilityPoints = 3;
- const generalAbilityPoints = 20;
-
  const generalAbilites = [
    'athletics',
    'conceal',
    'cover',
    'digital_intrusion',
    'disguise',
    'driving',
    'explosive_devices',
    'filch',
    'hand_to_hand',
    'health',
    'infiltration',
    'mechanics',
    'medic',
    'network',
    'piloting',
    'preparedness',
    'sense_trouble',
    'shooting',
    'shrink',
    'stability',
    'surveillance',
    'weapons'
  ];
-
  const academicAbilites = [
    'accounting',
    'archaeology',
    'architecture',
    'art_history',
    'criminology',
    'diagnosis',
    'history',
    'human_terrain',
    'languages',
    'law',
    'military_science',
    'occult_studies',
    'research',
    'vampirology'
  ];
-
  const interpersonalAbilities = [
    'bullshit_detector',
    'bureaucracy',
    'cop_talk',
    'flattery',
    'flirting',
    'high_society',
    'interrogation',
    'intimidation',
    'negotiation',
    'reassurance',
    'streetwise',
    'tradecraft'
  ];
-
  const technicalAbilities = [
    'astronomy',
    'chemistry',
    'cryptography',
    'data_recovery',
    'electronic_surveillance',
    'forensic_pathology',
    'forgery',
    'notice',
    'outdoor_survival',
    'pharmacy',
    'photography',
    'traffic_analysis',
    'urban_survival'
  ];
-
  const armors = [
    {
      name: 'None',
      resistance: {
        bullets: '0',
        melee: '0',
        explosives: '0'
      }
    }, {
      name: 'Ballistic cloth',
      resistance: {
        bullets: '1',
        melee: '1',
        explosives: '0'
      }
    }, {
      name: 'Police Vest',
      resistance: {
        bullets: '2',
        melee: '2',
        explosives: '0'
      }
    }, {
      name: 'Military Armor',
      resistance: {
        bullets: '3',
        melee: '3',
        explosives: '3'
      }
    }, {
      name: 'Other',
      resistance: {
        bullets: '0',
        melee: '0',
        explosives: '0'
      }
    }
  ];
  